
@{
    ViewBag.Title = "Biogas";
}

<h2>Biogas</h2>

<div class="row">
    <!-- Side Detail Menu -->
    <div class="col-sm-4 col-md-3">
        @RenderPage("~/Views/Shared/NRE_Menu.cshtml")
    </div>
    <!-- Page Content / Graph -->
    <div class="col-sm-8 col-md-9">
        <!-- CONTENT HERE-->
    </div>
</div>
